*{
	margin: 0;
	padding: 0;
}
 body{
 	background: url(../img/em.jpg);
 	background-position: 100%;
 	color: black;
 	font: normal 0.9rem Arial, Helvetica, sans-serif;
 }
   p{
 	font-size: 0.8em;
 	line-height: 1.7em;
 	padding: 0 0 10px 0;
 }

 h1
 {
 	color : black;
	 font-size: 1.7em;
	 letter-spacing: -1PX;
	 margin: 5px 0 5px 0;
 }
h2,h3,h4,h5,h6{
	 color : black;
	 font-size: 1.7em;
	 letter-spacing: -1PX;
	 margin: 5px 0 5px 0;
	 }
	 h1 a{
		 text-decoration: none;
		 color: white;
	 }
	 h2{
		 font-size: 1.6em;
		 }
		 h3{
		color: white;
		font:bold 1.3em Arial, Helvetica, sans-serif;
		}
	h4,h5,h6{
		color: #FFF;
		font-size: 1.5em;
		line-height: 1.5em;
		margin: 0;
		padding: 0 0 0px 0;
		}
	h5,h6{
		font-size: 0.95em;
		color: #888;
		}
 main, header, #menu, section, footer{
  	margin: 0 auto;
  }
    header{
  	height: auto;
  	width: auto;
  	padding: 10px 0 0 0 ;
  	position: relative;
	margin: auto;
  }
  ul{
	  font-style: normal;
	  font-size: 1em;
	  line-height: 1.7em;
	  margin: auto;
	  }
	  li{
		color: white;
}	
nav{
	width: auto;
	margin: 0 3% 0 3%;
}
nav ul{
	list-style-type: none;
	border-radius: 15px;
	font-weight: bold;
}
nav li{
	line-height: 2.5em;
	text-align: center;
}
nav a{
	color: white;
	display: block;
	padding: 0 0 0 1.5em;
	text-decoration: none;
	text-shadow: none;
}
nav a:hover{
	background: transparent;
	color: red;
	text-decoration: none;
	text-shadow: none;
}
nav>ul{
	background: -webkit-linear-gradient(#676767, #1D1D1D);
	width: 100%;
	overflow: hidden;
}
nav>ul>li{
	float: left;
	border-radius: 15px;
	color: #DDD;
}
nav>ul>li:hover{
	color:red;
}
nav>ul>li>ul{
	position: absolute;
	display: none;
	background: -webkit-linear-gradient(#1D1D1D, #676767);
}
nav>ul>li:hover ul{
	display: block;
}
nav>ul>li>ul>li{
	width: auto;
}
nav>ul>li>ul>li a{
	padding: 0 1.5em;
}
nav>ul>li>ul>li a:hover{
	background: transparent;
	color: blue;
	text-decoration: none;
	text-shadow: none;
}

	section#informacion article{
	background: -moz-linear-gradient(#1D1D1D, #676767);
	background: -o-linear-gradient(#1D1D1D, #676767);
	background: -webkit-linear-gradient(#1D1D1D, #676767);
	margin: 1.5% 3% 1.5% 3%;
	padding: 1.5%;
	border-radius: 15px;
}
section#informacion article p{
	font-size: 0.8rem;
	text-align: justify;
	color: white;
}
footer{
	color: white;
	width: auto;
	height: auto;
	font-weight: bold;
	padding-top: 20px;
	text-align: center;
	text-shadow: 2px #FFF;
}
div#inicio{
	font:bold 0.8em Arial,Helvetica, sans-serif;
	padding: 7px;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
	text-align: center;
	background: -webkit-linear-gradient(#676767, #1D1D1D);
	margin: 0 3% 0 3%;
    width: auto;
}
div#inicio a{
	color: white;
	text-decoration: none;
	text-shadow: none;
}
div#inicio a:hover{
	color: red;
}
@media screen and (max-width: 639px)
{
.contenedor{
	width: 100%;
}
nav a{
	padding: 0 0 0 1.2em;
	font-size: 90%;
}
nav>ul>li>ul>li a{
	padding: 0 1.2em;
}
aside{
	display: none;
}
}